 body, ul, ol, li, p, div, fieldset, a, h1, h2, h3, h4, h5, h6,  a,  button, aside, head, footer, article 
{
	margin: 0px;
	padding: 0px;
	border: none;
    font-family: "Verdana", Geneva, sans-serif;
    color: black;
	background-color: transparent;
}

#background
{
	position: fixed;
	width: 100%;
	height:  100%;
	z-index: -111;
	top: 0px;
	left: 0px;
}

#layout_body_content>ul>li
{
    background: linear-gradient(rgba(43,43,43,0.7), rgba(57,37,38,0.7), rgba(43,43,43,0.7));
}

#layout_body_content>ul>li:nth-child(odd)
{
    background: linear-gradient(rgba(43,43,43,0.7), rgba(13,78,81,0.7), rgba(43,43,43,0.7));
}

/* ##################################################################### */
/* content																 */
/* ##################################################################### */
#layout_body
{
	width: 1100px;
	margin-top: 150px;
	margin-left: auto;
	margin-right:  auto;
	padding: 0px;
	background: transparent;
}

#layout_header
{
	width: 100%;
	position: fixed;
	margin: 0px;
	padding: 0px;
	left: 0px;
	top: 0px;
	z-index: 50;
}

#layout_header_wrapper
{
	width: 1100px;
	height: 150px;
	margin-left: auto;
	margin-right: auto;
    background: linear-gradient(to bottom, rgba(43,43,43,1),rgba(43,43,43,1), rgba(43,43,43,1), transparent);
    border-bottom-right-radius: 15px;
    border-bottom-left-radius: 15px;
    padding: 5px;
    position: relative;
}

#layout_body_content 
{
    font-family: Arial, Verdana, sans-serif;
    width: 100%;
	background: transparent;
	padding: 0px;
}

/* ##################################################################### */
/* header																 */
/* ##################################################################### */
#header_text
{
	position: absolute;
	left: 200px;
	top: 12px;
}

#header_text h1
{	
	display: inline-block;
	float: left;
	color: white;
	font-size: 23px;
	font-weight: bold;
	margin-right: 10px;
	z-index: 50;
}


#layout_header a img
{
	width: 35px;
	height: 35px;
	margin-right: 5px;
	margin-left:  5px;
	background: radial-gradient(white, white, transparent, transparent);
	border: 2px solid white	;	
	border-radius: 	5px;

	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-ms-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}

#layout_header a img:hover, #layout_header a img.selected
{
 	-webkit-transform: scale(1.4);
	-moz-transform: scale(1.4);
	-ms-transform: scale(1.4);
	-o-transform: scale(1.4);
	transform: scale(1.4); 	
	border: 2px solid rgb(255, 255, 179);
}

/* ##################################################################### */
/* avatar																 */
/* ##################################################################### */
img#avatar 
{
	width: 130px;
	height: 130px;
	border-radius: 	22px;
	border: 2px solid black	;	
	float: left;
	z-index: -100;
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-ms-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}

img#avatar:hover
{
	transform: scale(1.4); 
  	transform-origin:top left;
}

/* ##################################################################### */
/* navigation															 */
/* ##################################################################### */
#navigation  
{
	margin: 30px 0px  0px  0px;
	float: right;
	width: auto;
}

#layout_header  li 
{
	display: inline-block;
	list-style: none;	
	font-weight: bold;
	color: black;
	border-radius: 3px;
	padding: 0px;
	margin: 0px;
	border: 3px solid transparent;

    background: transparent
    width:auto;

	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-ms-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}


#navigation a
{
    font-size: 20px;
    color: rgb(105, 169, 255);
	display: inline-block;
    text-decoration: none;
    margin: 0px;
    padding: 0px;
    line-height: 35px;
}

#navigation a.selected 
{
	color: rgb(255, 255, 179);
	
}

#navigation a img.selected 
{
	color: rgb(255, 255, 179);	
	border: 2px solid rgb(255, 255, 179);
}


#navigation li.selected 
{
	border: 3px solid rgb(255, 255, 179);
	background: rgba(43,43,43,1);

 	-webkit-transform: scale(1.1);
	-moz-transform: scale(1.1);
	-ms-transform: scale(1.1);
	-o-transform: scale(1.1);
	transform: scale(1.1); 

}

#navigation li
{
	width: 170px; 
	margin: 1px;
	padding: 5px 5px 5px 5px;
	margin-left: 3px;
	margin-right: 3px;
	border-radius: 10px;
	margin-left: 30px;

}

#navigation li a img
{
	margin:  0px 20px 0px 0px;
	float: left;
} 

#navigation li a
{
	padding: 0px;
} 

#social
{
	float: right;
}	
/* ##################################################################### */
/* footer															 	 */
/* ##################################################################### */
#layout_footer {
    clear: both;
    border-radius: 10px;
    width: 100%;
    font-size: 25px;
    margin-left: auto;
    margin-right: auto;
    background: linear-gradient(rgba(43,43,43, 0.5), rgba(13,78,81, 0.5), rgba(43,43,43, 0.5));
}

#footer_wrapper {
    margin: 30px 30px;
    padding: 30px 0px;
}

#footer_link
{
	width: 100%;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 20px;

	clear: 	both;	
}

#footer_link li
{
	display: inline;
	list-style: none;	
	font-weight: bold;
	padding:  15px 15px ;
	width: 200px;
	font-size: 15px;
	margin: 10px;
}

#footer_link li a
{
	color: white;
}

#layout_footer a {
    text-decoration: underline;
}

#layout_footer a:hover
{
    color: rgb(105, 169, 255);
	text-decoration: underline;
}

#layout_footer p, #layout_footer a {
    color: rgb(200,200,200);
    font-size: 15px;
}

/* ##################################################################### */
/* Trailor 																 */
/* ##################################################################### */

#preview 
{
    position: fixed;
    width: 500px;
    left: 0px;
    top:  0px;
    z-index: 999;
    visibility: hidden;	
    display: block;

	border-radius: 10px;
	border: 2px groove rgb(105, 169, 255);
}

#hidden_header, #hidden_pageno	
{
	display: none;
}

/* ##################################################################### */
/* Fonts 																 */
/* ##################################################################### */
.font-title
{
    color: rgb(255, 255, 179);
    text-shadow: 4px 0px rgb(10 ,11,29);
    font-size:  25px;
    font-weight: bold;
    padding: 5px 30px;
    text-decoration: none;
}

.font-normal
{
	font-size: 20px;
    color: white;
    text-shadow: 4px 0px rgb(10 ,11,29);
    margin-left: 35px;
}

.font-bullet
{
	font-size: 20px;
    color: white;
    text-shadow: 4px 0px rgb(10 ,11,29);
    margin-left: 35px;
}

.font-topic
{	
    color: rgb(105, 169, 255);
    text-shadow: 4px 0px rgb(10 ,11,29);
    font-size: 20px; 
}

.font-detail
{	
    color: rgb(255, 169, 255);
    text-shadow: 4px 0px rgb(10 ,11,29);
}


.font-date
{

    color: lightgrey;
    text-shadow: 4px 0px rgb(10 ,11,29);
    font-size: 15px;
}