
.image-button
{
    display: block;
	vertical-align: middle;
    margin-left: auto;
    margin-right: auto;
	width: 35px;
	height: 35px;
	background: radial-gradient(white, white, transparent, transparent);
	border: 2px solid white	;
	border-radius: 	5px;

	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-ms-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}

.image-button:hover
{
 	-webkit-transform: scale(1.3);
	-moz-transform: scale(1.3);
	-ms-transform: scale(1.3);
	-o-transform: scale(1.3);
	transform: scale(1.3);
}

#layout_body_content>ul
{
    clear: both;
    display: block;
    overflow: hidden;
}

#layout_body_content>ul>li
{
    width: 49%;
    float: right;
    clear: none;
    position: relative;
}

#layout_body_content>ul>li:nth-child(odd)
{
    float: left;
}

/* ----------------------------------------------------*/
/* -- Form  font   ------------------------------------*/
/* ----------------------------------------------------*/
.failure, .succeed
{
    display: block;
    color: red;
    font-size: 14px;
    float: left;
    width: 84%;
    margin: 10px;
    line-height: 20px;
}

.succeed
{
    color: green;
}

input.error
{
    border-bottom: 1px solid red!important;
}

textarea.error
{
    border: 1px solid red!important;
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: white;
    opacity: 1; /* Firefox */
    font-style: italic;
	font-size: 15px;
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: white;
    font-style: italic;
	font-size: 15px;
}

::-ms-input-placeholder { /* Microsoft Edge */
    color: white;
    font-style: italic;
	font-size: 15px;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover
textarea:-webkit-autofill:focus
{
    background-color: transparent;
    transition: background-color 5000s ease-in-out 0s;
    -webkit-text-fill-color: white;
    font-style: italic;
	font-size: 15px;
}

/* ----------------------------------------------------*/
/* -- text field  -------------------------------------*/
/* ----------------------------------------------------*/
.textField
{
    padding: 10px;
    margin: 0px;
}

.textField .image-button
{
    display: block;
    float: left;
    margin: 10px 10px 10px 0px;
}

label.font-input
{
    background: transparent;
}

input.font-input
{
    border: none;
    background: transparent;
    border-bottom: 1px solid grey;
    height: 34px;
    margin-bottom: 20px;
    width: 100%;
    border-radius: 0;
    box-sizing: border-box;
    -webkit-appearance: none;
    border-radius: 0;
    padding: 0;
}

textarea.font-input
{
    background: transparent;
    width: 100%;
    border: 1px solid grey;
    box-sizing: border-box;
    resize: none;
}


.textField  input:focus,
.textField  textarea:focus {
	color: white;
	border: none;
}

/* ----------------------------------------------------*/
/* -- listContact ------------------------------------*/
/* ----------------------------------------------------*/
.font-topic
{
    display: block;
    margin: 5px 20px;
    text-decoration: none;
}

.font-topic:hover
{
    text-decoration: underline;
}

.font-topic .image-button
{
    display: inline;
    margin: 0px 10px ;
}

