#layout_body_content table
{
    border: 0px groove  black   ;
    width: 98%;
    margin: 0px;  
	padding: 0px;
    border-collapse: collapse;
}

#layout_body_content tr 
{
    margin: 0px;  
    padding: 0px;
    border: 0px solid  black   ;
}

#layout_body_content tr td
{
	width: 	100%;
    vertical-align: top;
    border-bottom: 2px solid  black   ;
    margin: 0px;  
	padding: 5px 0px;
}

#layout_body_content  tr:last-child td
{
    border-bottom: 0px solid  black   ;
}

#layout_body_content img
{
    object-fit: cover;
    width: 128px;
    height: 128px;
    
    border-radius:  15px;
}

#skill .font-topic
{
	display: block;
	float: none;
}

.font-topic
{
    float:  left;   
}

.font-date
{
    float: right;
}


.font-detail
{
    clear: both;
    float: left;
}

.font-normal
{
    clear: both;
}

