
/* ##################################################################### */
/* layout                                                                */
/* ##################################################################### */

#layout_body_content>ul {
    list-style: none;
    margin: 0 0 1em 0;
    padding: 0;
}

#layout_body_content>ul>li{    
    width: 100%;
    float: left;
    border-radius:  15px;
    margin: 20px 0px;
    padding-bottom: 15px;
}

#layout_body_content>ul>li>ul
{    
    float: none;
    background: transparent;
    list-style: disc;
    margin: 5px 5px 5px 55px;
    padding: 0px;
}




.lightbox img:hover {
    box-shadow: 5px 5px 5px 5px  rgba(0, 140, 186, 0.5);
}

.lightbox img {
    float: right;
    object-fit: cover;
    width: 256px;
    margin: 9px ;
    border-radius:  15px;
}

/* ##################################################################### */
/* invidual style                                                        */
/* ##################################################################### */

.font-title
{
    background: linear-gradient(rgb(10 ,11,29), rgb(72,104,127), rgb(10 ,11,29));
    padding: 5px 30px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    border: 1px groove  black   ;
    margin: 1px;
    display: block;
}

a.font-title:hover
{
    color: blue;
}


.font-bullet
{    
    color: white;
    float: none;
    background: transparent;
    list-style: disc;
    margin: 5px 5px 5px 5px;
    padding: 0px;
}
