
/* ##################################################################### */
/* layout                                                                */
/* ##################################################################### */

#layout_body_content>ul {
    list-style: none;
    margin: 0 0 1em 0;
    padding: 0;
}


#layout_body_content>ul>li>ul
{    
    float: none;
    background: transparent;
    list-style: disc;
    margin: 5px 5px 5px 55px;
    padding: 0px;
}

.lightbox 
{    
    float: right;
}


.lightbox img:hover {
    box-shadow: 5px 5px 5px 5px  rgba(0, 140, 186, 0.5);
}

.lightbox img {
    object-fit: cover;
    width: 256px;
    margin: 9px ;
    border-radius:  15px;
}

/* ##################################################################### */
/* invidual style                                                        */
/* ##################################################################### */
a.font-title:hover
{
    color: blue;
}


.font-bullet
{    
    color: white;
    float: none;
    background: transparent;
    list-style: disc;
    margin: 5px 5px 5px 5px;
    padding: 0px;
}
