<!DOCTYPE html>
<html lang="en">
	<head>
	    <meta name="viewport" content="width=device-width, initial-scale=1">

	    <title>Jimmy Vo</title>

	    <!-- Primary Meta Tags -->
	    <meta name="title" content="Jimmy Vo's Profile - Embedded Engineer | Software Developer">
	    <meta name="description" content="Please review my website for more professional details.">

	    <!-- Open Graph / Facebook -->
	    <meta property="og:type" content="website">
	    <meta property="og:url" content="https://jimmyvo2410.appspot.com">
	    <meta property="og:title" content="Jimmy Vo's Profile - Embedded Engineer | Software Developer">
	    <meta property="og:description" content="Please review my website for more professional details.">
	    <meta property="og:image" content="https://jimmyvo2410.appspot.com/../static/images/meta.jpg">

	    <!-- Twitter -->
	    <meta property="twitter:card" content="summary_large_image">
	    <meta property="twitter:url" content="https://jimmyvo2410.appspot.com">
	    <meta property="twitter:title" content="Jimmy Vo's Profile - Embedded Engineer | Software Developer">
	    <meta property="twitter:description" content="Please review my website for more professional details.">
	    <meta property="twitter:image" content="https://jimmyvo2410.appspot.com/../static/images/meta.jpg">

	    <link rel="icon" href="https://jimmyvo2410.appspot.com/../static/images/icon.png">

	    <link rel="stylesheet" type="text/css" href="../static/css/body.css">
	    <link rel="stylesheet" type="text/css" href="../static/css/header.css">
	    <link rel="stylesheet" type="text/css" href="../static/css/footer.css">
	    <link rel="stylesheet" type="text/css" href="../static/css/contact.css">

	    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	    <script src="../static/js/common.js"></script>
	    <script src="../static/js/utility.js"></script>
	    <script src="../static/js/contact.js"></script>
	</head>

	<body>
		<img id="background" src="../static/images/wall.jpg" alt="avt">
		<header id="layout_header"></header>

		<div id="layout_body">
			<article id="layout_body_content">
				<ul>
					<li id="link-list">
						<!--<h6 class="font-title">Links</h6>-->

						<a href="https://jimmyvo2410.appspot.com" class="font-topic">
							<img  class="image-button"  src="../static/images/web.jpg" alt="web">jimmyvo2410.appspot.com
						</a>
 						<a href="#" class="font-topic" onclick="copyEmailToClipboard()">
							<img  class="image-button" src="../static/images/email.jpg" alt="email">jimmy.vo.2410@gmail.com
						</a>
						<a href="https://www.linkedin.com/in/jimmyvo2410/" target="_blank" class="font-topic">
							<img  class="image-button"  src="../static/images/linkedin.jpg" alt="linkedin">linkedin.com/in/jimmyvo2410/
						</a>
						<a href="https://github.com/jimmyvo2410" target="_blank" class="font-topic">
							<img  class="image-button"  src="../static/images/github.jpg" alt="github">github.com/jimmyvo2410
						</a>
						<a href="https://www.facebook.com/jimmy.vo.2410" target="_blank" class="font-topic">
							<img class="image-button"  alt="facebook" src="../static/images/facebook.jpg">facebook.com/jimmy.vo.2410
						</a>
						<a href="https://twitter.com/jimmyvo2410" target="_blank" class="font-topic">
							<img class="image-button"  alt="twitter" src="../static/images/twitter.jpg">twitter.com/jimmyvo2410
						</a>
						<a href="https://goo.gl/maps/DYjT2QnXCJL2" target="_blank" class="font-topic">
							<img class="image-button"  alt="address" src="../static/images/address.jpg">Winnipeg, Manitoba, Canada
						</a>

						</li>
					<li id="message-form">
						<!--<h6 class="font-title">Message</h6>-->
						<form class="textField"  action="contact.html" method="post">
							<input id="fullname" name="fullname" type="text" 	class="font-input" placeholder="Name*"  value="{{fullname}}"/>
							<input id="email" name="email" type="email" 		class="font-input" placeholder="Email*" value="{{email}}"/>
							<input id="number" name="number" type="tel" 		class="font-input" placeholder="Phone Number*" value="{{number}}"/>
							<label class="font-input" for="message">Message:</label>
							<textarea id="message" name="message" rows="5" 	class="font-input" >{{message}}</textarea>
							<input class="image-button" id="submit"  type="image" src="../static/images/send.jpg" alt="Submit"/>
							{{notification|safe}}
						</form>
					</li>
					<li id="map">
						<iframe width="700"
								height="700"
								frameborder="0"
								scrolling="no"
								marginheight="0"
								marginwidth="0"
								allowfullscreen
								src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d164633.57534947063!2d-97.29230632469903!3d49.85373765543764!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x52ea73fbf91a2b11%3A0x2b2a1afac6b9ca64!2sWinnipeg%2C+MB!5e0!3m2!1sen!2sca!4v1548129413962"  ></iframe>
					</li>
				</ul>
			</article>
			<footer id="layout_footer"></footer>
		</div>
		
		<h1 id="hidden_pageno">2</h1>
	</body>
</html>