<div id="layout_header_wrapper">

	<img id="avatar" alt="profile" src="../static/images/avatar.jpg">
	<div id="header_text">
		<h1>Jimmy Vo </h1>
		<h1>- Embedded Engineer<br/>- Software Developer</h1>
	</div>
	<ul id="social">
		<li>
			<a href="mailto:jimmy.vo.2410@gmail.com?Subject=From your website" target="_top">
				<img alt="email" src="../static/images/email.jpg"> 
			</a>
		</li>	
		<li>
			<a href="https://www.linkedin.com/in/jimmyvo2410/" target="_blank">
				<img alt="linkedin" src="../static/images/linkedin.jpg"> 
			</a>	
		</li>
		<li>	
			<a href="https://github.com/jimmyvo2410" target="_blank">
				<img alt="github" src="../static/images/github.jpg"> 
			</a>
		</li>
		<li>	
			<a href="https://www.facebook.com/jimmy.vo.2410" target="_blank">
				<img alt="facebook" src="../static/images/facebook.jpg"> 
			</a>
		</li>
		<li>
			<a href="https://twitter.com/jimmyvo2410" target="_blank">
				<img alt="twitter" src="../static/images/twitter.jpg"> 
			</a>
		</li>		
		<li>
			<a href="https://goo.gl/maps/DYjT2QnXCJL2" target="_blank">
				<img alt="address" src="../static/images/address.jpg"> 
			</a>
		</li>
	</ul>		
	
	<ul id="navigation">							
		<li>
			<a href="profile.html">
				<img alt="profile" src="../static/images/profile.jpg">Profile
			</a>
		</li>
		<li>
			<a href="project.html">
				<img alt="project" src="../static/images/project.jpg">Projects
			</a>
		</li>
		<li>
			<a href="contact.html">
				<img alt="contact" src="../static/images/contact.jpg">Contact
			</a>
		</li>
		<li>
			<a id="resume" href="../static/file/Resume.pdf" download="">
				<img alt="project" src="../static/images/download.jpg">Resume
			</a>
		</li>
	</ul>

</div>
