<!DOCTYPE html>
<html lang="en">
	<head>
    	<meta charset="utf-8">
		<title>Jimmy Vo</title>
		<link rel="stylesheet" type="text/css" href="../static/css/common.css">
		<link rel="stylesheet" type="text/css" href="../static/css/contact.css">
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
		<script src="../static/js/utility.js"></script>
		<script src="../static/js/contact.js"></script>
	</head>

	<body>
		<img id="background" src="../static/images/wall.jpg" alt="avt">
		
		<header id="layout_top">	
		</header>

		<div id="layout">
			<article id="layout_content">

				<div id="listContact">
					<h6>Links</h6>
					<table id="profile">
						<tr>
							<td>
								<img src="../static/images/linkedin.jpg" alt="linkedin">
							</td>
							<td>
								<a href="https://www.linkedin.com/in/jimmyvo2410/" target="_blank">linkedin.com/in/jimmyvo2410/</a>
							</td>
						</tr>
						<tr>
							<td>
								<img src="../static/images/github.jpg" alt="github">
							</td>
							<td>
								 <a href="https://github.com/jimmyvo2410" target="_blank">github.com/jimmyvo2410</a>
							</td>
						</tr>
						<tr>
							<td>
								<img src="../static/images/email.jpg" alt="email">
							</td>
							<td>
								 <a href="#">jimmy.vo.2410@gmail.com</a>
							</td>
						</tr>
						<tr>
							<td>
								<img src="../static/images/web.jpg" alt="web">
							</td>
							<td>
								 <a href="https://jimmyvo2410.github.io/">jimmyvo2410.github.io</a>
							</td>
						</tr>
					</table>
				</div>


				<div id="message">
					<h6>Message</h6>
					<form class="textField"  action="index.html"   method="post">
						<ul>
							<li>
								<label for="fullname">Full Name</label>
								<p class="error" id="fullname_error">Required field</p>
								<input id="fullname" name="fullname" type="text" />
							</li>
							<li>
								<label for="address">Address</label><p class="error" id="address_error">Required field</p>
								<input id="address" name="address" type="text" />
								
							</li>
							<li>
								<label for="number">Number</label>
								<p class="error" id="number_error">Required field</p>
								<p class="error" id="numberformat_error">Invalid number</p>
								<input id="number" name="number" type="number" />
							</li>
							<li>
								<label for="email">Email</label>
								<p class="error" id="email_error">Required field</p>
								<p class="error" id="emailformat_error">Invalid email address</p>
								<input id="email" name="email" type="text" />
							</li>
							<li>
								<label for="textarea">Message</label>
								<p class="error" id="textarea_error">Required field</p>
								<textarea id="textarea" name="textarea" rows="5"></textarea>
							</li>
							<li class="buttonField">    
								<button type="reset" id="clear">Clear</button>
								<button type="submit" id="submit">Send</button>
							</li>
						</ul>
					</form>

				</div>
			</article>

			<footer id="footer"></footer>
		</div>
		
		<h1 id="headerContent">
			Send me an email...<br>Connect with me on Linkedin...
		</h1>
	</body>
</html>