<!DOCTYPE html>
<html lang="en">
	<head>
	    <meta name="viewport" content="width=device-width, initial-scale=1">

	    <title>Jimmy Vo</title>

	    <!-- Primary Meta Tags -->
	    <meta name="title" content="Jimmy Vo's Profile - Embedded Engineer | Software Developer">
	    <meta name="description" content="Please review my website for more professional details.">

	    <!-- Open Graph / Facebook -->
	    <meta property="og:type" content="website">
	    <meta property="og:url" content="https://jimmyvo2410.appspot.com">
	    <meta property="og:title" content="Jimmy Vo's Profile - Embedded Engineer | Software Developer">
	    <meta property="og:description" content="Please review my website for more professional details.">
	    <meta property="og:image" content="https://jimmyvo2410.appspot.com/../static/images/meta.jpg">

	    <!-- Twitter -->
	    <meta property="twitter:card" content="summary_large_image">
	    <meta property="twitter:url" content="https://jimmyvo2410.appspot.com">
	    <meta property="twitter:title" content="Jimmy Vo's Profile - Embedded Engineer | Software Developer">
	    <meta property="twitter:description" content="Please review my website for more professional details.">
	    <meta property="twitter:image" content="https://jimmyvo2410.appspot.com/../static/images/meta.jpg">

	    <link rel="icon" href="https://jimmyvo2410.appspot.com/../static/images/icon.png">

	    <link rel="stylesheet" type="text/css" href="../static/css/body.css">
	    <link rel="stylesheet" type="text/css" href="../static/css/header.css">
	    <link rel="stylesheet" type="text/css" href="../static/css/footer.css">
	    <link rel="stylesheet" type="text/css" href="../static/css/contact.css">

	    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	    <script src="../static/js/common.js"></script>
	    <script src="../static/js/utility.js"></script>
	    <script src="../static/js/contact.js"></script>
	</head>

	<body>
		<img id="background" src="../static/images/wall.jpg" alt="avt">
		<header id="layout_header"></header>

		<div id="layout_body">
			<article id="layout_body_content">
				<ul>
					<li id="link-list">
						<h6 class="font-title">Links</h6>
						<a href="https://www.linkedin.com/in/jimmyvo2410/" target="_blank" class="font-topic">
							<img  class="image-button"  src="../static/images/linkedin.jpg" alt="linkedin">linkedin.com/in/jimmyvo2410/
						</a>
						<a href="https://github.com/jimmyvo2410" target="_blank" class="font-topic">
							<img  class="image-button"  src="../static/images/github.jpg" alt="github">github.com/jimmyvo2410
						</a>
 						<a href="#" class="font-topic">
							<img  class="image-button" src="../static/images/email.jpg" alt="email">jimmy.vo.2410@gmail.com
						</a>
						<a href="https://jimmyvo2410.appspot.com" class="font-topic">
							<img  class="image-button"  src="../static/images/web.jpg" alt="web">jimmyvo2410.github.io
						</a>
					</li>
					<li id="message-form">
						<h6 class="font-title">Message</h6>
						<form class="textField"  action="contact.html" method="post">
							<input id="fullname" name="fullname" type="text" 	class="font-input" placeholder="Name*" />
							<input id="email" name="email" type="email" 		class="font-input" placeholder="Email*" />
							<input id="number" name="number" type="tel" 		class="font-input" placeholder="Phone Number*" />
							<input id="address" name="address" type="text" 		class="font-input" placeholder="Address" />
							<label class="font-input" for="message">Message</label>
							<textarea id="message:" name="message" rows="5" 	class="font-input" ></textarea>
							<input class="image-button" id="submit"  type="image" src="../static/images/send.jpg" alt="Submit"/>
							
						</form>
					</li>
				</ul>
			</article>
			<footer id="layout_footer"></footer>
		</div>
		
		<h1 id="hidden_pageno">2</h1>
	</body>
</html>