<!DOCTYPE html>
<html lang="en">
	<head>
    	<meta charset="utf-8">
		<title>Jimmy Vo</title>
		<link rel="stylesheet" type="text/css" href="../static/css/common.css">
		<link rel="stylesheet" type="text/css" href="../static/css/profile.css">
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
		<script src="../static/js/profile.js"></script>
		<script src="../static/js/tooltip.js"></script>
		<script src="../static/js/utility.js"></script>
	</head>
	<body>
		<img id="background" src="../static/images/wall.jpg" alt="avt">
		<img id="preview" alt="preview" src="#" />		
		<header id="layout_top"></header>


	 	<div id="layout">
			<article id="layout_content">
				<div>
					<h6>Summary</h6>
					<table id="summary"></table>
				</div>
				<div>
					<h6>Education</h6>
					<table id="education"></table>
				</div>
				<div>
					<h6>Honors and Awards</h6>
					<table id="award"></table>
				</div>
				<div>
					<h6>Skills</h6>
					<table id="skill"></table>
				</div>
				<div>
					<h6>Work And Related Experience</h6>
					<table id="experience" class="experience"></table>
				</div>
				<div>
					<h6>Volunteer Activities</h6>
					<table id="volunteer" class="experience"></table>
				</div>
			</article>

			<footer id="footer"></footer>
		</div>		
		
		<h1 id="headerContent">
			I am a software engineer, a game developer and a tutor.
			<br>
			Please review <a href="../static/file/Resume.pdf" download="">my resume</a>
		</h1>
	</body>
</html>