<!DOCTYPE html>
<html lang="en">
	<head>
	    <meta name="viewport" content="width=device-width, initial-scale=1">

	    <title>Jimmy Vo's Profile</title>

	    <!-- Primary Meta Tags -->
	    <meta name="title" content="Jimmy Vo's Profile - Embedded Engineer | Software Developer">
	    <meta name="description" content="Please review my website for more professional details.">

	    <!-- Open Graph / Facebook -->
	    <meta property="og:type" content="website">
	    <meta property="og:url" content="https://jimmyvo2410.appspot.com">
	    <meta property="og:title" content="Jimmy Vo's Profile - Embedded Engineer | Software Developer">
	    <meta property="og:description" content="Please review my website for more professional details.">
	    <meta property="og:image" content="https://jimmyvo2410.appspot.com/../static/images/meta.jpg">

	    <!-- Twitter -->
	    <meta property="twitter:card" content="summary_large_image">
	    <meta property="twitter:url" content="https://jimmyvo2410.appspot.com">
	    <meta property="twitter:title" content="Jimmy Vo's Profile - Embedded Engineer | Software Developer">
	    <meta property="twitter:description" content="Please review my website for more professional details.">
	    <meta property="twitter:image" content="https://jimmyvo2410.appspot.com/../static/images/meta.jpg">

	    <link rel="icon" href="https://jimmyvo2410.appspot.com/../static/images/icon.png">

	    <link rel="stylesheet" type="text/css" href="../static/css/body.css">
	    <link rel="stylesheet" type="text/css" href="../static/css/header.css">
	    <link rel="stylesheet" type="text/css" href="../static/css/footer.css">
	    <link rel="stylesheet" type="text/css" href="../static/css/profile.css">

	    <script src="../static/js/jquery3_3_1.js"></script>
	    <script src="../static/js/common.js"></script>
	    <script src="../static/js/profile.js"></script>
	    <script src="../static/js/tooltip.js"></script>
	    <script src="../static/js/utility.js"></script>
	</head>
	<body>
		<img id="background" src="../static/images/wall.jpg" alt="avt">
		<img id="preview" alt="preview" src="#" />		
		<header id="layout_header"></header>
        
	 	<div id="layout_body">
			<article id="layout_body_content">
				<ul>	
					<li>
						<h6 class="font-title">Summary</h6>
						<table id="summary"></table>
					</li>
					<li>
						<h6 class="font-title">Work And Related Experience</h6>
						<table id="experience" class="experience"></table>
					</li>
					<li>
						<h6 class="font-title">Education</h6>
						<table id="education"></table>
					</li>
					<li>
						<h6 class="font-title">Honors and Awards</h6>
						<table id="award"></table>
					</li>
					<li>
						<h6 class="font-title">Skills</h6>
						<table id="skill"></table>
					</li>
					<li>
						<h6 class="font-title">Volunteer Activities</h6>
						<table id="volunteer" class="experience"></table>
					</li>
				</ul>
			</article>

			<footer id="layout_footer"></footer>
		</div>
		
		<h1 id="hidden_pageno">0</h1>
	</body>
</html>