<!DOCTYPE html>
<html lang="en">
	<head>
    	<meta charset="utf-8">
		<title>Jimmy Vo</title>
		<link rel="stylesheet" type="text/css" href="../static/css/common.css">
		<link rel="stylesheet" type="text/css" href="../static/css/project.css">
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
		<script src="../static/js/common.js"></script>
		<script src="../static/js/utility.js"></script>
		<script src="../static/js/tooltip.js"></script>
		<script src="../static/js/project.js"></script>
	</head>

	<body>
		<img id="background" src="../static/images/wall.jpg" alt="avt">
		<img id="preview" alt="preview" src="#" />		
		<header id="layout_top"></header>

		<div id="layout">
			<div id="layout_content">
				<ul id="project"></ul>
			</div>

			<footer id="footer">
				<div id="footer_wrapper">
					<p>&#169; 2018 Nguyen Duy Vo All Rights Reserved</p>
					<p>If you have any question, please leave a message in 
					<a href="contact.html">Contact</a> 
					or email to
					<a href="jimmy.vo.2410@gmail.com">jimmy.vo.2410@gmail.com</a>.</p> 		
				</div>
			</footer>
		</div>

		<footer id="footer"></footer>

		
		<h1 id="headerContent">
			Welcome to my projects corner! 
			<br>
			Please click to see more detail on my Github
		</h1>
		<h1 id="headerNum">1</h1>
	</body>
</html>