<!DOCTYPE html>
<html lang="en">
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <title>Jimmy Vo's Projects</title>

        <!-- Primary Meta Tags -->
        <meta name="title" content="Jimmy Vo's Profile - Embedded Engineer | Software Developer">
        <meta name="description" content="Please review my website for more professional details.">

        <!-- Open Graph / Facebook -->
        <meta property="og:type" content="website">
        <meta property="og:url" content="https://jimmyvo2410.appspot.com">
        <meta property="og:title" content="Jimmy Vo's Profile - Embedded Engineer | Software Developer">
        <meta property="og:description" content="Please review my website for more professional details.">
        <meta property="og:image" content="https://jimmyvo2410.appspot.com/../static/images/meta.jpg">

        <!-- Twitter -->
        <meta property="twitter:card" content="summary_large_image">
        <meta property="twitter:url" content="https://jimmyvo2410.appspot.com">
        <meta property="twitter:title" content="Jimmy Vo's Profile - Embedded Engineer | Software Developer">
        <meta property="twitter:description" content="Please review my website for more professional details.">
        <meta property="twitter:image" content="https://jimmyvo2410.appspot.com/../static/images/meta.jpg">

        <link rel="icon" href="https://jimmyvo2410.appspot.com/../static/images/icon.png">

        <link rel="stylesheet" type="text/css" href="../static/css/common.css">
        <link rel="stylesheet" type="text/css" href="../static/css/project.css">

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="../static/js/common.js"></script>
        <script src="../static/js/utility.js"></script>
        <script src="../static/js/tooltip.js"></script>
        <script src="../static/js/project.js"></script>
    </head>

	<body>
		<img id="background" src="../static/images/wall.jpg" alt="avt">
		<img id="preview" alt="preview" src="#" />		
		<header id="layout_header"></header>

        <div id="layout_body">
            <div id="layout_body_content">
                <ul id="project"></ul>
            </div>
            <footer id="layout_footer"></footer>
        </div>

		<h1 id="hidden_pageno">1</h1>
	</body>
</html>